*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*header inicio*/
header{
    background: #000000;
}

svg{
    margin-left:5%;
    color: white;
}

.i {
    width: 160px;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem  6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1 15rem;
    color: #ffff;
    font-weight: 600;
}

/*pro menu ficar responsivo*/
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 50%;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
/*pro menu ficar responsivo fim*/

.mobile-menu ul li a:hover{
    color: #aa7f07;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

a{
    position: relative;
}

.nav-bar ul li a:hover{
    width: 100%;
    color: #aa7f07;
    padding-top: 7px;
    border-top: 2px solid #aa7f07; 
}

/*header fim*/

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 2%;
    font-family: "Cinzel", serif;
    font-size: clamp(3rem, 2vw, 2rem);
}

.faixa {
    margin-top: 13px;
    height: 4px;
    width: 180px;
    background-color: #d8b041;
    margin-left: 43%;
}

section p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-right: 2%;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

.container h2{
    
    font-family: "Cinzel", serif;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 100px 50px;
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #d9d0b5;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgba(0,0,0,.23);
    transition: 0.5s;
}

.container .card:hover{
    height: 400px;
}

.container .card .caixaimg{
    position: absolute;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    top: 20px;
    overflow: hidden;
    transition: .7s;
}

.container .card .caixaimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .conteudo{
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
   overflow: hidden;
   text-align: center;
   transition: 0.7s;
}

.container .card:hover .conteudo{
    top: 140px;
    height: 250px;
}

.container .card .conteudo h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.container .card:hover .caixaimg{
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0,0,0.2);
}

/*footer inicio*/
.contato{
    background: #2a2a2a;
    width: 1000%;
    height: 250px;
    margin-top: 10%;
}

.contato p{
    color: #ffff;
}

.numwhats{
    cursor: pointer;
}

.emailfooter{
    cursor: pointer;
}
.facebook{ 
    cursor: pointer;
}

.insta{
    cursor: pointer;
    margin-top: -10px;
}

.yt{
    cursor: pointer;
    margin-top: -15px;
}
.pré-footer{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #1a1a1a;
    width: 100%;
    height: 80px;
}

.footer h2{
    color: #ccc;
    text-align: center;
    padding: 30px;
    font-weight: 200;
    font-size:medium ;
}

.pré-footer svg{
    color: #d8b041;
}
.numwhats{
    transform: translateY(280%);
    margin-left: 4%;
}
.numeroWhats{
    margin-left: 90px;
    margin-top: 46px;
}
.emailfooter{
  margin-left: 4%;
}
.nomeemail{
    margin-left: 90px;
    margin-top: -25px;
}
.yt{
    transform: translateY(-470%);
    margin-left: 92%;   
}
.insta{
    transform: translateY(-410%);
    margin-left: 88%;
}
.facebook{
    transform: translateY(-280%);
    margin-left: 84%;
}
/*footer fim*/
